<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>The Incognito Mystery</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">



  <title>Hello, world!</title>


  <style type="text/css">
       body{
        background-image: url("https://cdn.pixabay.com/photo/2019/09/24/16/05/storm-4501645_1280.jpg");
        background-repeat: no-repeat, repeat;
        background-position: center; /* Center the image */
        background-size: 300% 300%; /* Resize the background image to cover the entire container */
        padding-top: 50px;
      }
      
     .jumbotron{
        background-image: url("https://cdn.pixabay.com/photo/2017/02/15/11/05/texture-2068283_1280.jpg");
        background-repeat: no-repeat, repeat;
        background-position: center; /* Center the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        padding-top: 50px;
        font-weight: bold;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 100px;
        border-radius: 50px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      }
    
  </style>

</head>

<body>
